Repository rails/webpacker, pull requests merged in 2019-09, with the labels that each got.

#2251 coerce https yaml config to boolean
  lib/webpacker/dev_server.rb
Labels: webpack

#2247 Update readme with instructions to use with Babel 7.4 and above
  CHANGELOG.md
  README.md
Labels: babel/coreJs

#2137 Update TypeScript Vue documentation.
  docs/typescript.md
Labels: docs

#2206 Update node-sass troubleshooting information
  docs/troubleshooting.md
Labels: docs

#2248 Fix TypeScript file extension regex in typescript loader.
  lib/install/loaders/typescript.js
Labels: bug, webpack

#2242 Upgrate style loader
  package.json
  package/utils/__tests__/get_style_rule.js
  package/utils/get_style_rule.js
  yarn.lock
Labels: dependencies
